/* Import das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 2px;
}


::-webkit-scrollbar-thumb {
  background: #D3AF37; 
  border-radius: 5px;
  border: 2px solid #f0f0f0; 
}


::-webkit-scrollbar-thumb:hover {
  background: #b38a4b; 
}
